html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Global styles */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #333;
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #007bff;
}

.welcome-message {
    color: white;
    font-size: 20px;
}

p {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

/* Header styles */
header {
    background-color: saddlebrown;
    color: sandybrown;
    padding: 20px 0;
}

    header a {
        color: saddlebrown;
        text-decoration: none;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/* Main styles */
main {
    padding: 40px 0;
}

.pricing .card {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

    .pricing .card:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }

.pricing .card-header {
    background-color: burlywood;
    border-bottom: 1px solid #d9d9d9;
    
}

.pricing .card-title {
    font-size: 48px;
    margin: 0;
    font-weight: bold;
}

.pricing .card-body {
    padding: 20px;
}

.pricing ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .pricing ul li {
        padding: 10px 0;
    }

.pricing button {
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 30px;
    text-transform: uppercase;
}

.pricing .btn-outline-primary {
    border: 2px solid saddlebrown;
    color: saddlebrown;
}

    .pricing .btn-outline-primary:hover {
        background-color: #007bff;
        color: #fff;
    }

.pricing .btn-primary {
    background-color: saddlebrown;
    border: none;
    color: #fff;
}

    .pricing .btn-primary:hover {
        background-color: #0062cc;
        color: #fff;
    }

.card-header h4 {
    font-weight: bold;
    margin-top: 0.5rem;
}
.table tbody td {
    color: white;
}
.navbar .login-link {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 0.5rem 1rem; /* Add some padding to the button */
    border-radius: 0.25rem; /* Add some border radius to make it look like a button */
    transition: all 0.2s; /* Add a transition effect for hover */
}

    .navbar .login-link:hover {
        background-color: #0069d9; /* Darker blue background color on hover */
        color: #fff; /* White text color on hover */
        text-decoration: none; /* Remove underline on hover */
    }
